/* Importar Fonte */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    /*Css Geral*/
    /* tirar todo o tipo de deffalt settiungs do css */
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* meter a cor para todas as letras */
    color: rgb(252,244,220);
}
body{
    /* Toda parte do site */
    background-image: url('../image/wallpaperspace.gif');
    /* imagem de background */
    background-repeat: no-repeat;
    /* não auto preencher com mais imagens iguais */
    background-attachment: fixed;
    /* imagem parada */
    background-size: cover;
    /* preencher todo o site */
}
.pretoimagem{
    /* imagem preta de backgroud de da navbar */
    /* posição da navbar */
    padding: 0.5%;
    /* nenhum outro elemento pode mudar a imagem */
    position: absolute;
    /* fica mais transparente */
    opacity: 0.5;
    /* ficar atras de todos os outros elementos */
    z-index: -1;
    /* maximo que pode chegar a imagem */
    max-height: 10%;
    max-width: 90%;
    /* borda redonda */
    border-radius: 40px;
}
.navbar{
    /* posição da navbar */
    margin-top: 0.5%;
    padding: 2.2%;
    /* estilo de posição de elementos da navbar */
    display: flex;
    /* condições flex*/
    /* por items em linha */
    flex-direction: row;
    /* por-los no centro */
    align-items: center;
    /* maneira de como se posicionam dentro do div */
    justify-content: space-around;
    list-style-type: none;
    overflow: hidden;
    border-radius: 40px;
}
.menutext{
    /* defenições de texto */
    color: rgb(252,244,220);
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 130%;
}
.menutext:hover{
    /* defenição de quando se passa por cima */
    color: rgb(221,86,91);
    text-shadow: 1px 1px 2px #6c5454, 0 0 25px #60281c, 0 0 10px #60281c;
}
.firstmenu{
    /* gap entre os elementos */
    display: flex;
    gap: 30px;
    margin-left: -8%;
}
.imgnavbar{
    /* defenição de logo */
    height: 10%;
    max-width: 20%;
    margin-top: -1.5%;
}
.logoepbjc{
    margin-top: 8%;
    margin-left: 20%;
}
.conteudo{
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
}
.parte-principal{
    display: flex;
    gap: 32px;
    flex-direction: row;
    justify-content: space-between;
}
.titulo-principal{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.titulo{
    text-shadow: 1px 1px 2px rgb(221,86,91), 0 0 8px rgb(221,86,91), 0 0 5px rgb(221,86,91);
    font-family: 'Righteous', cursive;
    font-weight: 700;
    font-size: 500%;
}
.subtitulo{
    font-family: "IMB Plex Serif", serif;
    font-weight: 600;
    font-size: 200%;
    margin-left: 12%;
}
.botao{
    
    margin-left: 20%;
    width: 50%;
    height: 200%;
    font-weight: 1000;
    font-size: 150%;
    border: none;
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    background-color: rgb(221,86,91);
    color: rgb(252,244,220);
    cursor: pointer;
}
.botao:hover{
    background-color:   rgb(252,244,220);
    text-shadow: 4px 4px 7px rgb(75,44,60), 0 0 15px rgb(75,44,60), 0 0 25px rgb(75,44,60);
}
.container-slider{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150%;
}
.slider{
    opacity: 0;
    transition: opacity .5s;
    z-index: -1;
    position: absolute;
    width: 100%;
    border-radius: 30px;
    box-shadow: 4px 5px 4px rgb(221,86,91);
}
.on{
    opacity: 1;

}

#prev-button, #next-button {
    position: absolute;
    max-width: 45px;
    max-height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#prev-button img, #next-button img{
    opacity: 0.8;
    width: 100%;
    height: 40%;
}
#prev-button{
    margin-right: 30%;
    transform: rotate(180deg);
}
#next-button{
    margin-left: 31%;
}